body{
  font-family: "Montserrat";
  text-align: center;
  background-color: #ecf2f9;
  color: #002f35;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  color: #002f35;
  /* line-height: 1.5; */
}
.navbar {
   /* padding: 0 0 4.5rem; */
   position: fixed;
   height: 60px;
   background-color: #071e3d;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.title{
  color: #002f35;
  padding-top: 85px;
  text-align: center;
  padding-left: 550px;
  padding-bottom: 0;

}
#education{
  text-align: center;
  padding-top:40px;
}
.edu-pic{
  width: 350px;
  height: 250px;
}
.edu-uhcl{
  text-align: left;
  padding-top:30px;
  padding-bottom: 40px;
  padding-left: 150px;
}
.course{
  text-align: center;
  padding-left: 550px;
}


/* footer */
#footer{
  background-color: #071e3d;
  padding: 50px;
}
.me-pic{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.back{
  color: #fff;
}
